<a href="https://colab.research.google.com/github/777tharun7/Supervised-Learning/blob/main/LAB_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **LAB-1**

In [ ]:
import numpy as np
import pandas as pd

In [ ]:
emp_data = pd.read_csv("Employee.csv")

In [ ]:
print(emp_data.shape)
print(emp_data.columns)
print(emp_data.describe())
print(emp_data['Age'].mean())

(4653, 9)
Index(['Education', 'JoiningYear', 'City', 'PaymentTier', 'Age', 'Gender',
       'EverBenched', 'ExperienceInCurrentDomain', 'LeaveOrNot'],
      dtype='object')
       JoiningYear  PaymentTier          Age  ExperienceInCurrentDomain  \
count  4653.000000  4653.000000  4653.000000                4653.000000
mean   2015.062970     2.698259    29.393295                   2.905652
std       1.863377     0.561435     4.826087                   1.558240
min    2012.000000     1.000000    22.000000                   0.000000
25%    2013.000000     3.000000    26.000000                   2.000000
50%    2015.000000     3.000000    28.000000                   3.000000
75%    2017.000000     3.000000    32.000000                   4.000000
max    2018.000000     3.000000    41.000000                   7.000000

        LeaveOrNot
count  4653.000000
mean      0.343864
std       0.475047
min       0.000000
25%       0.000000
50%       0.000000
75%       1.000000
max       1.000000
29.393294648613796

In [ ]:
ages = emp_data['Age'].values
print(ages)
print(np.mean(ages))
print(np.std(ages))
print(np.unique(ages))

[34 28 38 ... 27 30 33]
29.393294648613796
4.825568381752676
[22 23 24 25 26 27 28 29 30 31 32 33 34 35 36 37 38 39 40 41]